<?php
/**@var Mastering\StoreLocator\Block\Index $block */
/**@var Mastering\StoreLocator\ViewModel\StoreLocatorViewModel $viewModel*/
$viewModel = $block->getData('view_model');
$stores = $block->getCustomData();

?>
<fieldset class="fieldset">
    <?php if (count($stores)): ?>
        <div class="custom-data grid ">
            <?php foreach ($stores as $store): ?>
                <div class="item" onclick="location.href='./<?php echo $store->getUrlKey() ?>'">
                    <img src="<?php echo $viewModel->getMediaPath() . $store->getImage() ?>" alt="Store Image">
                    <h2><?php echo $store->getStoreName() ?></h2>
                    <p>Country : <?php echo $store->getCountry(); ?></p>
                    <p>City : <?php echo $store->getCity(); ?></p>
                    <p>Address : <?php echo $store->getAddress(); ?></p>
                </div>
            <?php endforeach; ?>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom">
                <?= $block->getPagerHtml() ?>
            </div>
        <?php endif ?>
    <?php else : ?>
        <div class="message info empty">
            <span><?= $block->escapeHtml('You have no data in table.') ?></span>
        </div>
    <?php endif; ?>
</fieldset>






