<?php
/**@var Magento\Framework\View\Element\Template\ $block */
/**@var Mastering\StoreLocator\ViewModel\StoreLocatorViewModel $viewModel*/
$viewModel = $block->getData('view_model');
$urlKey = $this->getRequest()->getParam('store_url_key');
$store = $viewModel->getItem($urlKey);
?>
<h2><?php echo $store->getStoreName() ?></h2>

<p>Store image:</p>
<img src="<?php echo $viewModel->getMediaPath() . $store->getImage() ?>" alt="<?php echo $store->getStoreName() ?>">

<?php $description = $store->getDescription() ?>
<?php if ($description): ?>
    <p><?php echo $description; ?></p>
<?php else: ?>
    <p>haven`t description</p>
<?php endif; ?>

<?php $schedule = $store->getSchedule() ?>
<?php if ($schedule): ?>
    <p><?php echo $schedule; ?></p>
<?php else: ?>
    <p>haven`t schedule</p>
<?php endif; ?>

<hr>
<p>Country : <?php echo $store->getCountry(); ?></p>
<p>City : <?php echo $store->getCity(); ?></p>
<p>Address : <?php echo $store->getAddress(); ?></p>
<hr>

<div onload="loadMap()">
    <div id="map" style="width:580px; height:400px;"></div>
</div>
<script>
    function loadMap() {

        var coordinates = new google.maps.LatLng(<?php echo $store->getLatitude()?>, <?php echo $store->getLongitude()?>);
        var mapOptions = {
            center: coordinates,
            zoom:15,
        }

        var map = new google.maps.Map(document.getElementById("map"),mapOptions);

        var marker = new google.maps.Marker({
            position: coordinates,
            map: map,
            draggable:true,
        });

        marker.setPosition(coordinates);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<?php echo $viewModel->getApiKey() ?>&callback=loadMap"></script>

