<?php
/**@var Magento\Framework\View\Element\Template\ $block */
/**@var Mastering\StoreLocator\ViewModel\StoreLocatorViewModel $viewModel*/
$viewModel = $block->getData('view_model');
$apiKey = $viewModel->getApiKey();
?>

<div id="api_key"><?php echo $apiKey;?></div>
<script type="text/javascript">
require([
        'jquery'
    ],
    function ($) {
        $('#api_key').hide();
    });
</script>
